<div class="container">
    <div class="display">
        <label for="" id="title"> Regístrate</label>
        <input type="text" name="name" id="name" placeholder="Nombre">
        <input type="text" name="username" id="username" placeholder="Usuario">
        <input type="email" name="email" id="email" placeholder="Correo electrónico">
        <input type="password" name="password" id="password" placeholder="Contraseña">
        <div class="buttons">
            <input routerLink="/" id="cancelar" type="button" value="Cancelar">
            <input routerLink="/Home" id="registrar" type="submit" value="Crear">
        </div>
    </div>
</div>