<div class="content2">
    <div class="profile">
        <label for="">Mi perfil</label>
        <div class="information">
            <div class="image">
                <i class="fas fa-user"></i>
            </div>
            <form class="info" action="" method="POST">

                <div class="infouser">
                    <input type="text" name="name" id="name" value="Pepito Pérez">
                    <input type="text" name="email" id="email" value="pepito@gmail.com" disabled>
                </div>
                <div class="passwordInfo">
                    <input type="password" name="password" id="password" placeholder="Contraseña anterior">
                    <input type="password" name="confirmPass" id="comfirmPass" placeholder="Contraseña nueva">
                </div>

                <input type="submit" value="Guardar" id="send">
                <input type="button" value="Cancelar" id="cancel">
            </form>
        </div>
    </div>
</div>