.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    width: 100%;
    outline-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.profile i {
    background: rgb(85, 74, 118, 0.5);
    border-radius: 50%;
    color: black;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 3.5em;
}

.profile #nickname {
    color: white;
}